/*RESUMEN DE TEMPORADA 1 Y 2*/

.seccion-resumenes {
  background-color: #000;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  padding: 120px 5%;
}

.row-resumen {
  display: flex;
  align-items: stretch;
  /* Hace que imagen y texto tengan la misma altura */
  margin-bottom: 60px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

/* Clase para invertir el orden en la Temporada 2 */
.reverse {
  flex-direction: row-reverse;
}

.texto-resumen {
  flex: 0 0 60%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imagen-resumen {
  flex: 0 0 40%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
  filter: grayscale(0.3) contrast(1.2);
  background-position: center;
  transition: 0.5s;
}

.imagen-resumen:hover {
  filter: grayscale(0);
}

/* Colores Temporada 1 - Piltover */
.t1-box {
  border-left: 5px solid #00e5ff;
  box-shadow: -10px 0 20px rgba(0, 229, 255, 0.1);
}

.t1-box h2 {
  color: #00e5ff;
  font-size: 40px;
  margin-bottom: 20px;
}

/* Colores Temporada 2 - Zaun */
.t2-box {
  border-right: 5px solid #ff007a;
  box-shadow: 10px 0 20px rgba(255, 0, 122, 0.1);
}

.t2-box h2 {
  color: #ff007a;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: right;
}

.t2-box p {
  text-align: right;
}

.parrafo-resumen {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #cccccc;
  text-align: justify;
}
/* Contenedor principal de la música */

.seccion-soundtrack-inferior {
  background-color: #000000;
  padding: 50px 5%;
  background-color: #0a0a0a;
  padding: 50px 5%;
}

.titulo-musica {
  font-family: "FuenteArcane", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #ff007a; /* Brillo rosa Jinx */
}

/* La cuadrícula de canciones */
.grid-musica {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.tarjeta-track {
  background: rgba(255, 255, 255, 0.03);
  border: 2px solid rgb(255, 0, 0);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 15px;
  transition: 0.4s ease;
}

.tarjeta-track:hover {
  transform: translateY(-5px);
  border-color: #ff0000;
  box-shadow: 0px 0px 20px rgb(255, 0, 0);
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 15px;
  transition: 0.4s ease;
}

.tarjeta-track:hover {
  background: rgba(0, 229, 255, 0.1); /* Cambia a azul al pasar el mouse */
  transform: translateY(-5px);
  border-color: #00e5ff;
}

.portada-album {
  width: 65px;
  height: 65px;
  border-radius: 8px;
  margin-right: 15px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.info-track h4 {
  margin: 0;
  color: #00e5ff;
  font-size: 1.1rem;
}

.info-track p {
  margin: 3px 0 0;
  color: #888;
  font-size: 0.9rem;
}

.icono-reproducir {
  margin-left: auto;
  color: #ff007a;
  font-size: 1.2rem;
  opacity: 0.6;
}

/* Estilos para que el reproductor sea transparente */
audio  {
  width: 100%;
  height: 35px;
  background-color: transparent; /* Fondo base transparente */
  outline: none;
  
}

/* Solo para navegadores Chrome/Edge (que es el que usas) */
audio::-webkit-media-controls-enclosure {
  background-color: transparent; /* Quita el cuadro blanco/gris de fondo */
}

/* Color de los minutos y segundos (Tiempo) */
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: #00e5ff; /* Color Cian de Piltover que ya usas */
  font-family: "Roboto Condensed", sans-serif;
}

/* Personalización de la línea de avance (Timeline) */
audio::-webkit-media-controls-timeline {
  background-color: rgba(255, 255, 255, 0.1); /* Línea sutil */
  border-radius: 40px;
  margin: 0 10px;
}

/* Iconos de Play y Volumen con brillo neón rosa */
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button {
  filter: invert(100%) sepia(100%) saturate(700%) hue-rotate(280deg); /* Rosa Jinx */
  transform: scale(1.1);
}