/* ESTO ES PARA PODER COLOCAR LA FUENTE CON UN ARCHIVO */
@font-face {
  font-family: "FuenteArcane";
  src: url("Arcane.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
  /* Ajusta este valor al alto de tu barra + un extra de cortesía */
  scroll-padding-top: 150px;
}

body {
  margin: 0;
  background: #000000;
  min-height: 250vh;
  overflow-x: hidden;
  width: 100%;
}

.margen-general {
  width: 80%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* BARRA DE NAVEGACION */
.barra {
  background: #000000ea;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid rgba(0, 229, 255, 0.3);
  z-index: 1000;
  padding-right: 25px;
  padding-left: 25px;
  margin: 0;
}

.titulo-arcane-barra {
  font-family: "FuenteArcane";
  font-weight: 1000;
  letter-spacing: 4px;
  color: #ffffff;
  font-size: 35px;
}

#botones {
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(255, 255, 255);
  display: flex;
  gap: 40px;
  align-items: center;
}

#botones a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

#botones a:hover {
  color: #00e5ff;
  text-shadow: 0 0 10px rgba(0, 229, 255, 0.8);
  transition:
    color 0.3s ease,
    text-shadow 0.3s ease;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 90vh;
  background-color: #000;
  background-image:
    radial-gradient(
      circle at 15% 50%,
      rgba(0, 229, 255, 0.2) 0%,
      transparent 45%
    ),
    radial-gradient(
      circle at 85% 50%,
      rgba(255, 0, 122, 0.2) 0%,
      transparent 45%
    );

  border-bottom: 2px solid rgba(0, 229, 255, 0.3);
}

.titulo-arcane {
  display: flex;
  font-family: "FuenteArcane", sans-serif;
  font-size: 200px;
  color: rgb(255, 255, 255);
  letter-spacing: 3px;
  background: linear-gradient(to bottom, #f0e5ca 20%, #c1a161 50%, #7d612c 80%);
  text-shadow: 2px 2px 8px rgba(216, 175, 86, 0.416);
  /* se tiene que utilizar webkit para poder hacer el degradado, pq en los navegadores no se ve bien */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-top: -5px;
  margin-bottom: 0;
  line-height: 150px;
}

.subitulo-arcane {
  display: flex;
  font-family: "Lexend", sans-serif;
  color: #f0e5ca;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 20px;
  margin-top: 0;
}

.contenedor-conflicto {
  display: flex;
  justify-content: center; /* Centra los dos bloques en la pantalla */
  gap: 100px; /* Espacio */
  margin-top: 100px;
  width: 100%
}

/* ZONA PILTOVER */

.titulo-piltover {
  color: #00b9e2;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
    color: #00b9e2;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;

  /* El subrayado */
  border-bottom: 4px solid rgb(0, 229, 255);
  line-height: 55px; /* Reduce el espacio vertical del texto */
  padding-bottom: 5px;
  display: inline-block; /*Es para que mida lo mismo que el titulo */
}

.parrafo-piltover, .parrafo-zaun {
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    /* HACE QUE LAS LÍNEAS MIDAN LO MISMO */
    margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 20px;
  line-height: 30px;
  text-align: justify; /* HACE QUE LAS LÍNEAS MIDAN LO MISMO */
  margin: 0;
  hyphens: auto;
}

/* ZONA ZAUN */
.titulo-zaun {
  color: #fd024e;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;

  /* El subrayado */
  border-bottom: 4px solid #fd024e;
  line-height: 55px; /* Reduce el espacio vertical del texto */
  padding-bottom: 5px;
  display: inline-block;
}

.piltover {
  width: 400px; /* es para definir el ancho del cuadrado  */
  flex: 1;
}

.zaun {
  text-align: right;
  width: 400px;
  flex: 1;
}
/* LINEA DIVISORA ENTRE PILTOVER Y ZAUN */
.divisor {
  width: 2px; /* ancho */
  background: linear-gradient(
    to bottom,
    #00b9e2c5,
    #ff004cc2
  ); /* Degradado de azul a rosa */
  align-self: stretch;
}

h1 {
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 70px;
  font-size: 70px;
  font-weight: 600;
}


/* EXPEDIENTES */

.titulo-expedientes {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
/* TARJETAS */

.tarjetas {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: stretch; /* permite que las tarjetas ocupen la misma altura */
}

.tarjeta-vi,
.tarjeta-jinx,
.tarjeta-ekko {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 3px solid #303030;
  border-radius: 10px;
  overflow: hidden;
  flex: 1;


  max-width: 550px;
  min-width: 320px; 
  height: 100%;
}

.titulo-ekko,
.titulo-jinx,
.titulo-vi {
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  margin: 0;
  margin-left: 30px;
  margin-top: 20px;
  text-align: left;
}

.tarjeta-vi img,
.tarjeta-jinx img,
.tarjeta-ekko img {
  width: 100%;
  height: auto;
  max-height: 50%;
  object-fit: cover;
  display: block;
}

.texto-vi,
.texto-jinx,
.texto-ekko {
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  width: 90%;
  text-align: justify; /* HACE QUE LAS LÍNEAS MIDAN LO MISMO */

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px; /* Espacio extra abajo para que no se pegue al borde */

  line-height: 25px;
  flex: 1 1 auto; /* permite que el texto ocupe el espacio restante dentro de la tarjeta */
}

.tarjeta-vi:hover,
.tarjeta-jinx:hover,
.tarjeta-ekko:hover {
  transform: translateY(-10px);
  /* La tarjeta sube 10 píxeles */
  background: #000000;
  border: 3px solid #00a2ff;
  box-shadow: 0px 0px 20px rgba(0, 208, 255, 0.616);
}

.tarjeta-vi:hover .titulo-vi {
  color: #00b9e2;
}

.tarjeta-jinx:hover .titulo-jinx {
  color: #00a2ff;
}

.tarjeta-ekko:hover .titulo-ekko {
  color: #00a2ff;
}

.tarjeta-vi,
.tarjeta-jinx,
.tarjeta-ekko {
  transition: all 0.3s ease;
}

/* EXPEDIENTES */

.titulo-expedientes {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}



/*  MEDIA QUERIES (RESPONSIVE) */
/* PARA CELULAR */
@media screen and (max-width: 767px) {
  .home {
    height: 100vh;
  }

  .margen-general {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0;
    margin: 0;
  }

  .barra {
    width: 100%;
    height: 50px;
  }

  #botones {
    gap: 10px;
    align-items: center;
  }

  #botones a {
    font-weight: 500;
    font-size: 11px;
  }

  .titulo-arcane-barra {
    font-size: 20px;
  }
  .titulo-arcane {
    font-size: 100px;
    line-height: 100px;
  }

  .subitulo-arcane {
    font-size: 10px;
    letter-spacing: 10px;
  }

  .contenedor-conflicto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px !important;
    margin-top: 100px !important;
    width: 100%;
  }

  .titulo-piltover {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 35px;
  }

  .parrafo-piltover,
  .parrafo-zaun {
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0px;
  }

  .titulo-zaun {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
    justify-content: center;
    align-items: center;

    /* El subrayado */

    line-height: 35px;
    padding-bottom: 5px;
  }

  .piltover,
  .zaun {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .divisor {
    width: 70%; 
    height: 2px;
    background: linear-gradient(to right, #00b9e2c5, #ff004cc2);
    flex: none; 
    align-self: center;
  }

  .tarjetas {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin: 0;
  }

  .tarjeta-vi,
  .tarjeta-jinx,
  .tarjeta-ekko {
    width: 85%;
    max-width: 350px;
    margin: 0 auto;
  }
  .tarjeta-vi img,
  .tarjeta-jinx img,
  .tarjeta-ekko img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .titulo-vi,
  .titulo-jinx,
  .titulo-ekko {
    margin-left: 15px;
    font-size: 24px;
  }

  .texto-vi,
  .texto-jinx,
  .texto-ekko {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
  }

  .titulo-expedientes {
    font-size: 40px;
    margin-top: 100px;
  }
}


@media screen and (min-width: 2500px) {
  .margen-general {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }

  .contenedor-conflicto {
    gap: 100px;
  }

  .tarjeta-vi img,
  .tarjeta-jinx img,
  .tarjeta-ekko img {
    height: 650px;
  }

  .titulo-arcane {
    font-size: 250px;
    line-height: 200px;
  }
}


@media screen and (max-width: 1400px) {
  .contenedor-conflicto {
    gap: 100px;
  } 
}

@media screen and (max-width: 1024px) {
  .contenedor-conflicto {
    gap: 50px;
  }
}