/*RESUMEN DE TEMPORADA 1 Y 2*/

.seccion-resumenes {
  background-color: #000;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  padding: 120px 5%;
}

.row-resumen {
  display: flex;
  align-items: stretch;
  /* Hace que imagen y texto tengan la misma altura */
  margin-bottom: 60px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

/* Clase para invertir el orden en la Temporada 2 */
.reverse {
  flex-direction: row-reverse;
}

.texto-resumen {
  flex: 0 0 60%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imagen-resumen {
  flex: 0 0 40%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
  filter: grayscale(0.3) contrast(1.2);
  background-position: center;
  transition: 0.5s;
}

.imagen-resumen:hover {
  filter: grayscale(0);
}

/* Colores Temporada 1 - Piltover */
.t1-box {
  border-left: 5px solid #00e5ff;
  box-shadow: -10px 0 20px rgba(0, 229, 255, 0.1);
}

.t1-box h2 {
  color: #00e5ff;
  font-size: 40px;
  margin-bottom: 20px;
}

/* Colores Temporada 2 - Zaun */
.t2-box {
  border-right: 5px solid #ff007a;
  box-shadow: 10px 0 20px rgba(255, 0, 122, 0.1);
}

.t2-box h2 {
  color: #ff007a;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: right;
}

.t2-box p {
  text-align: right;
}

.parrafo-resumen {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #cccccc;
  text-align: justify;
}
/* Contenedor principal de la música */

.seccion-soundtrack-inferior {
  background-color: #000000;
  padding: 50px 5%;
  background-color: #000000;
  padding: 50px 5%;
}

.titulo-musica {
  font-family: "FuenteArcane", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #ff007a; /* Brillo rosa Jinx */
}

/* La cuadrícula de canciones */
.grid-musica {
  display: flex;
  flex-direction: column; /* Alinea las tarjetas en vertical */
  gap: 15px;               /* Espacio entre cada canción */
  max-width: 600px;        /* Limita el ancho para que no se estiren demasiado */
  margin: 0 auto;          /* Centra toda la lista en la pantalla */
}

.tarjeta-track {
  background: rgba(255, 255, 255, 0.03);
  border: 2px solid rgb(255, 255, 255); /* Borde rojo fino como en tu imagen */
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 10px 15px; /* Reducimos el padding para que sea más compacta */
  transition: 0.4s ease;
  
}

.tarjeta-track:hover  {
  transform: translateY(-5px);
  border-color: #ff0000; /* Cambio a azul Piltover al pasar el mouse */
  box-shadow: 0px 0px 15px rgb(255, 0, 0);
}

.portada-album {
  width: 65px;
  height: 65px;
  border-radius: 8px;
  margin-right: 15px;
  background-size: cover;
  background-position: center;
}

.info-track {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.info-track h4 {
  margin: 0;
  color: #00e5ff; /* Color Cian para el nombre de la canción */
  font-size: 1rem;
  text-transform: uppercase;
}

.info-track p {
  margin: 2px 0 5px 0;
  color: #888;
  font-size: 0.85rem;
}

.tarjeta-track:hover .titulo-enemy {
    color: #ff0000;
}

.tarjeta-track:hover  .titulo-mme  {
    color: #ff0000;
}

.tarjeta-track:hover .titulo-goodbye {
    color: #ff0000;
}

.tarjeta-track:hover .titulo-line {
    color: #ff0000;
}

.tarjeta-track:hover .titulo-tab {
    color: #ff0000;
}

.tarjeta-track:hover .artista-1 {
    color: #00b9e2;
}

.tarjeta-track:hover .artista-2 {
    color: #00b9e2;
}

.tarjeta-track:hover .artista-3 {
    color: #00b9e2;
}

.tarjeta-track:hover .artista-4 {
    color: #00b9e2;
}

.tarjeta-track:hover .artista-5 {
    color: #00b9e2;
}

.icono-reproducir {
  margin-left: auto;
  color: #ff007a;
  font-size: 1.2rem;
  opacity: 0.6;
}

.reproductor-minimal {
    height: 30px;
    width: 200px;
    filter: invert(100%) hue-rotate(180deg) brightness(1.5); /* Ajusta el color para que combine con el modo oscuro */
    opacity: 0.7;
    transition: opacity 0.3s;
}

.reproductor-minimal:hover {
    opacity: 1;
}